
<header>
	<nav>
		<ul>
		
			<li>
				<a ui-sref="shop.products">Products</a>		
			</li>
			<li>
				<a ui-sref="shop.addnewproduct" ui-sref-opts="{reload: true}">Add new product</a>		
			</li>
		</ul>
	</nav>
</header>
<hr>
<div class="container">
	<ui-view></ui-view>
</div>
<hr>
<footer>
	FOOTER
</footer>