<div>
	<form ng-submit="add.addProduct()">
		<input type="text" placeholder="id" ng-model='add.id'>
		<input type="text" placeholder="productName" ng-model='add.productName'>
		<input type="text" placeholder="price" ng-model='add.price'>
		<input type="text" placeholder="propreties" ng-model='add.propreties'>
		<input type="text" placeholder="color" ng-model='add.color'>
		<input type="submit" >
	</form>
</div>
