<div ng-repeat='detail in product.array'>

<p>
	<{{detail.name}}  {{detail.phone}}  {{detail.address}}
	<span ng-click='detail.editProduct(detail.id)'>Edit</span>
	<span ng-click='detail.deleteProduct(detail.id)'>x</span>
</p>

</div>